<div class="slider-container">
    <div class="slider">
      {%
          include /slide.html
          background_image = "/assets/images/open_box.jpg"

          text_title = "The sword-fighting card game<br/>you were waiting for!"
          highlight_color = "#70a"
      %}
      {%
          include /slide.html
          background_image = "/assets/images/gameplay.jpg"

          text_title = "A unique gameplay full of<br/>tactics, strategy and grit.<br/>"
          highlight_color = "#d92"
      %}
      {%
          include /slide.html
          background_image = "/assets/images/decks_to_choose.jpg"

          text_title = "Collectible characters,<br/>master them all!<br/>"
          highlight_color = "#222"
      %}
    </div>
</div>
