<div class="slider-container">
    <div class="slider">
        {%
            include /slide.html
            background_image = "/assets/images/open_box.jpg"

            text_title = "¡El juego de cartas de esgrima<br/>que estabas esperando!"
            highlight_color = "#70a"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/gameplay.jpg"

            text_title = "Un gameplay único, lleno de<br/>táctica, estrategia y agallas.<br/>"
            highlight_color = "#d92"
        %}
        {%
            include /slide.html
            background_image = "/assets/images/decks_to_choose.jpg"

            text_title = "Personajes coleccionables,<br/>domínalos todos.<br/>"
            highlight_color = "#222"
        %}
    </div>
</div>
